*{
  margin: 0;
}
.display__Flex{
  display: flex;
}
.margin__right{
  margin-right: 10px;
}
.margin__top{
  margin-top: 10px;
}
.margin__bottom{
  margin-bottom: 10px;}

.padding___15{
  padding: 15px;
}
.padding___5{
  padding: 5px 0px 5px 15px  ;
}
.aling__centre{
  align-items: center;
}
.inpu_style{
  height: 30px;
  width: 250px;
  margin-right: 10px;
}
img{
  width: 450px;
    height: 450px;
}
.comment__Section{
  overflow-x: scroll;
    max-height: 440px;
}




.app__header{
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #aeaeae;
  margin-bottom: 15px;
}
.app {
 background-color: #fafafa;
 height: 100%;
}
.footer {
  position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
  height: 60px;
  background-color: #71b6df;
  color: white;
  padding-left: 15px;
}
.post{
  margin-top: 45px;
  border: 1px solid lightgray;
  margin-bottom: 30px;
}
.post___image{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.post___logo{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
